"*":
  "atom-package-deps":
    ignored: [
      "linter"
    ]
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 17
    softWrap: true
  "exception-reporting":
    userId: "a7bf7583-5910-4741-9448-37c68596eaac"
  "file-icons":
    coloured: false
  "linter-ui-default":
    useBusySignal: false
  "platformio-ide-terminal":
    core:
      shell: "C:\\Program Files\\Git\\git-cmd.exe"
  "sync-settings":
    gistId: "3907b55267f3889725d6794ab8cdfe94"
    hiddenSettings:
      _lastBackupTime: "2021-02-08T22:55:28Z"
    personalAccessToken: "4f6d08730170a0c177fd04109773e388bc03b9b6"
    syncSettings: false
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
