"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    disabledPackages: [
      "wrap-guide"
      "linter"
      "atom-toolbar"
    ]
    followSymlinks: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
    uriHandlerRegistration: "always"
  dart:
    sdkLocation: "C:\\tools\\dart-sdk"
    showOutlineView: false
  editor:
    softWrap: true
  "exception-reporting":
    userId: "8af01577-b864-43e3-b8c7-2fc24aacbd52"
  "platformio-ide-terminal":
    core: {}
    toggles:
      selectToCopy: false
  "sync-settings":
    _lastBackupHash: "8c9dc14cc49aeace34c6ee01606fd7109a13e397"
    gistId: "484db4184ec117077a8db0b0af5e8d36"
    personalAccessToken: "7a7c2fac3d214c06f0065ba171e2ae1621fa8dd5"
  welcome:
    showOnStartup: false